<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

<div layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <mat-card>
            <mat-card-title id="i-am-sage">{{ this.text }}</mat-card-title>
            <mat-card-content style="text-align: center; font-size: 28pt;">
                <p id="sageexplain">
                    Welcome to I am SAGE, an educational vocabulary learning tool!
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-actions id="home_buttons">
                <div>
                    <button id="playbutton" mat-raised-button class="text-upper" color="primary" routerLink="/play">Play</button>
                    <button id="addcardbutton" mat-raised-button class="text-upper" color="primary" routerLink="/addcards">Add a Card</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
